<%- include('partials/_header'); -%>

<div class="container">
    <div class="row">
      <div class="col-md">
        <a href="<% /program %>" class="btn btn-primary-lg">Programas</a>
      </div>
      <div class="col-md">
        <button class="btn btn-info-lg">Organizaciones</button>
      </div>
    <div class="row">  
      <div class="col-md">
        <button class="btn btn-danger-lg">Aliados</button>
      </div>
      <div class="col-md">
        <button class="btn btn-primary-lg">Participaciones en programas</button>
      </div>
    </div>
  </div>

<%- include('partials/_footer'); -%>