
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script> 

<!--Head filters method-->
<script>
    $(document).ready(function(){
        var table = $('#table').DataTable({
           orderCellsTop: true,
           fixedHeader: true,
           responsive: true,
           paging:  true,
           language: {
              search: "Buscar:",
              emptyTable:"No hay información disponible en esta tabla",
              zeroRecords: "No hay resultados",
              lengthMenu: "Muestra _MENU_ registros",
              info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
              infoEmpty: "Mostrando 0 a 0 de 0 registros",
              infoFiltered: "(Filtrado de _MAX_ registros totales)",
               paginate: { 
                   previous: "Anterior",
                   next: "Siguiente"
                         }   
               }
           
        });
    
        //Create a row on table's head and clone for each column
        $('#table thead tr').clone(true).appendTo( '#table thead' );
    
        $('#table thead tr:eq(1) th').each( function (i) {
            var title = $(this).text(); //take the column name
            $(this).html( '<input type="text" placeholder="Filtrar por '+title+'" />' );
     
            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
        } );   
    });
 
    //switches de consultores
    function showContent() {
      element = document.getElementById("content");
      check = document.getElementById("check");
      if (check.checked) {
        element.style.display = "block";
      } else {
        element.style.display = "none";
      }
    }
    
    function showContent2() {
      element = document.getElementById("content2");
      check2 = document.getElementById("check2");
      if (check2.checked) {
        element.style.display = "block";
      } else {
        element.style.display = "none";
      }
    }

    //habilitar campos no visibles

    $("#otherField3").change(function () {
  if ($(this).val() == "Aliado Financiero") {
    $("#otherFieldDiv").show();
    $("#otherField").attr("required", "");
    $("#otherField").attr("data-error", "This field is required.");
  } else {
    $("#otherFieldDiv").hide();
    $("#otherField").removeAttr("required");
    $("#otherField").removeAttr("data-error");
  }
});
$("#otherField3").trigger("change");

$("#seeAnotherFieldGroup").change(function() {
  if ($(this).val() == "Seleccionado") {
    $('#otherFieldGroupDiv').show();
    $('#otherField1').attr('required', '');
    $('#otherField1').attr('data-error', 'This field is required.');
    $('#otherField2').attr('required', '');
    $('#otherField2').attr('data-error', 'This field is required.');
  } else {
    $('#otherFieldGroupDiv').hide();
    $('#otherField1').removeAttr('required');
    $('#otherField1').removeAttr('data-error');
    $('#otherField2').removeAttr('required');
    $('#otherField2').removeAttr('data-error');
  }
});
$("#seeAnotherFieldGroup").trigger("change");
    
    </script>
    

</body>
</html>
