<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundación Merced-Programas</title>
    
    <link rel="icon" type="image/png" href="https://media-exp1.licdn.com/dms/image/C4E0BAQEnfklGO1h7lA/company-logo_200_200/0/1554825400404?e=2159024400&v=beta&t=RupsKoMCuJIAWjQerkzFhsTsRjeLZ6EoR1hnLKo7KFg" >
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    
    <!--Initialize modal windows poppers and jquery properties-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!--Initialize datepickers-->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
   
    <!--Initialize table data search-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
  

  </head>
  <body>

    <!-- navigation -->
    <nav style="background-image: url(https://media-exp1.licdn.com/dms/image/C561BAQFx61s1limDxA/company-background_10000/0/1554853152142?e=2159024400&v=beta&t=n8htHogElzkzSymEBjlRw6C0vYQl6tQeNQBaNM9hixk);" class="navbar navbar-expand-lg navbar-dark bg-dark responsive">
      <a class="navbar-brand" href="/dashboard">Fundación Merced</a>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-center" href="/dashboard">Inicio
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-center" href="/program">Programas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-center" href="/organization">Organizaciones</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-center" href="/contact">Contactos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-center" href="/participation">Participaciones en programas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-center" href="/admon">Expediente Administrativo</a>
          </li>
        
        </ul>
 
          <button type="submit" class="btn btn-danger btn-sm rounded" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
            </svg></button>
      
      </div>

    </nav>
    
